---
layout: default
title: Home
---

<div class="container">
  <div class="intro mb-3">
    <img src="/assets/img/headshot.png" alt="headshot" class="my-3 headshot" />
    <div class="details">
      <h1 class="name m-0">
        Bradley
        <br/>
        Harker
      </h1>
      <h2>
        <span class="text-red mr-2">Software Developer</span> <span class="text-purple mr-2">Cybersecurity Student</span>
        <span class="text-yellow">Web Developer</span>
      </h2>
    </div>
    <div class="socials m-3">
      <a href="https://github.com/BradHacker"><i class="fab fa-2x fa-github mb-4"></i></a>
      <a href="https://www.linkedin.com/in/bradley-harker-60604262/"><i class="fab fa-2x fa-linkedin"></i></a>
    </div>
  </div>
  <div class="posts">
    {% for post in site.posts %}
    <a href="{{ post.url }}" class="post-preview p-2">
      <h3 class="post-preview-title m-0 mb-1">
        <span class="post-preview-date">{{ post.date | date_to_string }}</span>
        <br/>
        {{ post.title }}
      </h3>
      <p class="post-preview-excerpt my-1">{{ post.excerpt | strip_html }}</p>
      <div class="categories">
        {% for category in post.categories %}
        <span class="category category-{{ category }}"">{{ category }}</span>
        {% endfor %}
      </div>
    </a>
    {% endfor %}
  </div>
</div>